  /* Fuentes */
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&family=Sedgwick+Ave+Display&display=swap');

  /* 
    Tipo Normal
    font-family: 'Orbitron', sans-serif;
    
    Tipo Grafiti
    font-family: 'Sedgwick Ave Display', cursive;
  */
  :root {
    --black-primary: #252027; 
    --blue-secondary: #007bff; 
    --light-blue: #87CEEB;
    --navbar-height: 70px;
    --grafiti-font: 'Sedgwick Ave Display', cursive;
    --normal-font: 'Orbitron', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s;
    font-family: var(--normal-font);
    font-weight: 400;
  }


  html {
    overflow-x: hidden;
  }

  body {
    min-height: 100vh;
    background-color: #f0f1ef;
  }

  a {
    text-decoration: none;
  }

  ul,
  li,
  a {
    text-decoration: none;
    list-style: none;
  }

  button {
    border: none;
    cursor: pointer;
  }


  @media screen and (max-width: 700px) {
    body {
      font-size: 12px;
    }
  }

  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }


  p {
    font-size: 12px;
  }

  a {
    color: var(--blue-secondary);
    text-decoration: none;
  }