.screen {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    gap: 1px;
    border: 1px solid var(--black-primary);
    margin: 20px auto;
}

.pixel {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.purchased {
    background-color: var(--black-primary);
}

.no-purchased {
    background-color: #ccc;
}

.board-row {
    display: flex;
    gap: 1px;

}

.board {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    padding: 24px;
    width: 700px;
    max-height: 500px;
    overflow-x: auto;
}



@media screen and (max-width: 700px){
    .board {
        max-width: 300px;
        border: 1px solid #ccc;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

