.div-nav{
    position: relative;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
    background: #001f3fea;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.page-title a:hover {
    color: var(--light-blue); 
}

.div-nav .nav-item:nth-last-child(1):hover a{
    color: #fff;
}

.div-nav li:nth-last-child(3){
    display: flex;
}

.div-nav li:nth-last-child(2){
    display: none;
}


.nav-item a{
    color: var(--blue-secondary);
}

.page-title a{
    font-size: 32px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    padding-left: 12px;
}

.div-nav .nav-item:nth-last-child(1){
    border: 1px solid var(--blue-secondary);
    padding: 12px;
    border-radius: 4px;
}

.div-nav .nav-item:nth-last-child(1):hover{
    background-color:var(--blue-secondary);
}

.blue-letter{
    font-family: var(--grafiti-font);
    color: var(--blue-secondary);
}


@media screen and (max-width: 700px){
    .div-nav{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .div-nav li:nth-last-child(3){
        display: none;
    }
    
    .div-nav li:nth-last-child(2){
        display: flex;
    }
}