.div-nav{
    position: relative;
    width: 100vw;
    height: 70px;
    z-index: 1000;
    background: #151515c0;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.page-title a:hover{
    color: var(--black-primary);
}

.nav-item a{
    color: #fff;
}

.page-title a{
    font-size: 32px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    padding-left: 12px;
}

.div-nav .nav-item:nth-last-child(1){
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 4px;
}

.div-nav .nav-item:nth-last-child(1):hover{
    background-color: #fff;
}

.div-nav .nav-item:nth-last-child(1):hover a{
    color: var(--black-primary);
}